auto lo
iface lo inet loopback

{% for int in interfaces %}
auto {{int}}
iface {{int}} inet manual
{% endfor %}

{% for bridge in bridges_in %}
auto {{bridge}}
iface {{bridge}} inet {% if loop.index == 1 %}dhcp{% else %}static
{% endif %}

     bridge_ports {{interfaces[loop.index-1]}}
     bridge_stp off
     bridge_fd 0
     bridge_maxwait 0

{%endfor%}
{% for bridge in bridges_out %}
auto {{bridge}}
iface {{bridge}} inet static
    address 0.0.0.0
    bridge_stp off
    bridge_fd 0
    bridge_maxwait 0
    pre-up    brctl addbr {{bridge}}
    post-down brctl delbr {{bridge}}

{% endfor %}

